body, html {
    height: 100%;
    margin: 0;
}
body{
    background-image: url("obloha2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
img.slnko{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin: auto;
}
img.vtak{
    position: absolute;
    width: 100px;
    height: auto;
}
.vpravo{
    right: 0%;
}
.vlavo{
    left: 0%;
}
.hore{
    top: 0%;
}
.dole{
    bottom: 0%;
}
